html[data-font="apple-system"] * {
  font-feature-settings: 'palt';
}

html[data-font="apple-system"] body,
html[data-font="apple-system"] .post-preview .post-entry, {
  font-family: system-ui;
  font-weight: 300;
  letter-spacing: 0.05em;
}

code,
p {
  overflow-wrap: break-word;
}
